@model LoginViewModel

@{
    Layout = "_LayoutLogin";
}
<div class="container vh-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-4 col-sm-8">
            <div class="card">
                <div class="card-header text-center bg-success">
                    <h3 class="text-white"><i class="bi bi-person-lock"></i> Login</h3>
                </div>
                @Html.ValidationSummary(true)
                <div class="card-body">
                    <form method="post" asp-controller="Authentication" asp-action="Login">
                        @Html.HiddenFor(m => m.ReturnUrl)
                        <div class="form-group mt-3">
                            <div class='form-floating'>
                                <input type="text" class="form-control" asp-for="Username" placeholder="Usuario">
                                <label class="control-label">Usuario</label>
                                <span class="text-danger" asp-validation-for="Username"></span>
                           </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class='form-floating'>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                <label class="control-label">Password</label>
                                <span class="text-danger" asp-validation-for="Password"></span>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block mt-4 w-100">Login</button>
                        <p class="mt-2"><a class="text-success" asp-action="Register">Registrarme</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>